
//color and background variable

$white:        #fff;
$grayDark:     #333;
$grayLight:    #d5d5d5;
$grayMedium:   #ccc;
$green:	       green;
$red:          red; 

// for all pages variable

$bgColor:$grayMedium;
$fontSize:12px;
$paddting:10px 20px;
$menuBg:$red;
$margin:0px 5px;
$navbarInverse:$green;


