@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/*   Extend/Inheritance */

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
