@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8zf98e');
  src:  url('fonts/icomoon.eot?8zf98e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8zf98e') format('truetype'),
    url('fonts/icomoon.woff?8zf98e') format('woff'),
    url('fonts/icomoon.svg?8zf98e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-currency:before {
  content: "\e903";
}
.icon-online-shop:before {
  content: "\e904";
}
.icon-shield:before {
  content: "\e905";
}
.icon-admin:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-handphone:before {
  content: "\e902";
}

